@import "tailwind";
@import "fonts";


:root {
  --toastify-color-success: #0cce6b;
}


body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: #2C4251;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-family: 'Rota', sans-serif;
}
