@import '~react-date-range/dist/styles.css';
@import '~react-date-range/dist/theme/default.css';

.rdrCalendarWrapper {
  font-size: 14px;
  color: #2c4251;
}

.rdrMonthAndYearPickers {
  //display: none;
}

.rdrMonth {
  @media screen and (max-width: 575px) {
    width: 90vw;
  }
}

.rdrDayDisabled {
  background-color: transparent;

  .rdrDayNumber {
    span {
      color: rgba(44, 66, 81, .3)
    }
  }
}

.rdrStartEdge, .rdrEndEdge {
  background-color: #2c4251;
  //border: 3px solid #0cce6b;
}

.rdrDayToday .rdrDayNumber > span::after {
  background: #0cce6b;
}

.rdrMonthName {
  color: #2c4251;
  font-weight: 600;
  text-align: center;
}

.rdrWeekDay {
  color: #2c4251;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.rdrDateDisplay {
  justify-content: center;
  border-radius: 8px;
  margin: 0;
}

.rdrDateDisplayWrapper {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: transparent;
}

.rdrDateDisplayItem {
  background-color: #f8f8f8;
  border-radius: 0;
  box-shadow: none;
  border: 0;

  &.rdrDateDisplayItemActive {
    input {
      background-color: #0cce6b;
      color: #fff;
    }
  }

  & + .rdrDateDisplayItem {
    margin-left: 0;
  }

  input {
    border-radius: 8px;
    height: 5.2rem;
    line-height: 1;
    font-weight: 500;
    color: #2c4251;
  }
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
//.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
//.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span
{
  color: #2c4251;
}
